
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr

.classpath
.project
.settings/
bin/

.vscode/
*.code-workspace

hs_err_pid*

*.log
logs/
log/

HELP.md

.DS_Store
Thumbs.db

.env